doctype html
html(lang="en")
	head
		script(data-goatcounter="https://everef-data.goatcounter.com/count" async src="//gc.zgo.at/count.js")

		title
			block title
				= pageTitle

		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0, shrink-to-fit=no")
		//- Page title meta.
		meta(property="og:title", content=pageTitle + " - " + pageTitle)
		meta(property="twitter:title", content=pageTitle + " - " + pageTitle)
		//- OpenGraph page description.
		if pageDescription
			meta(name="description", content=pageDescription)
			meta(property="og:description", content=pageDescription)
			meta(property="twitter:description", content=pageDescription)

		//- CSS.
		link(href="https://use.fontawesome.com/releases/v5.0.4/css/all.css", rel="stylesheet", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Source+Sans+Pro", rel="stylesheet", crossorigin="anonymous")
		link(href="https://fonts.googleapis.com/css?family=Source+Code+Pro", rel="stylesheet", crossorigin="anonymous")
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css", integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm", crossorigin="anonymous")

		style.
			body {
				font-family: "Source Sans Pro";
			}
			pre {
				font-family: "Source Code Pro";
			}

	body

		block content
